<!DOCTYPE html>
<html>
<title>Transactions Page</title>
<link rel="stylesheet" href="/stylesheets/newStyle.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/businesscasual.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
 rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
 rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/constant_links.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<style>
	table.dataTable thead th,
	table.dataTable tfoot th {
		font-weight: bold;
		vertical-align: middle;
		text-align: center;
		font-size: 1.2em;
		color: DarkBlue;
	}

	tbody {
		font-size: 1.2em;
		color: DarkBlue;
	}

	div#table_id_wrapper {
		font-size: 1em;
		margin-top: 40px;
	}
</style>
<script>$(document).ready(function () {
		$('#table_id').DataTable({
			"ajax": {
				"url": "http://localhost:1010/getMyTransactions",
				"dataSrc": ""
			},
			"columns": [
				{ "data": "amount" },
				{ "data": "transactionType" },
				{ "data": "Date" }
			],
			"order": [[2, "desc"]]
			// for initial ordering of date column in descending order
		});
	});
</script>
<script>
	 window.onload = function () {
       
        $.ajax({
            url: 'http://localhost:1010/getMyTransactions',
            async: true,
            dataType: 'JSON',
            success: function(data) {
				console.log(data);
				document.getElementById('name').innerHTML=document.cookie;
				
               
               
            }
        })
        
      
        
    }

</script>

<body>
	<header class="header-site">
		<p style="text-align:center;margin-top: 45px"></p>
		<div class="brand">Express Wallet</div>
		<div class="address-bar">"Your Money,Our responsibility"</div>
		<!-- Navigation-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display-->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Express Wallet</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<img src="/images/Picture4.png" height="15%" width="45%">
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!--li.nav.navbar-nav.navbar-left//img(src='/images/Picture2_trans1.png', height='100%', width='21%')-->
						<li>
							<a href="#">Hi
								<span id="name"></span>
								<i class="fa fa-user-circle" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="/addMoney">Add Money
								<i class="fa fa-upload" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="/sendMoney">Send Money
								<i class="fa fa-paper-plane" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="/payElse">Pay ElseWhere
								<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="myTransactions">Your Transactions
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</a>
						</li>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/home">View Profile
									<i class="fa fa-user-circle" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="/logout">
									<i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
							</li>
						</ul>
					</ul>
				</div>
				<!-- /.navbar-collapse-->
			</div>
			<!-- /.container-fluid-->
		</nav>
		<!-- /.navbar-collapse-->
		<!-- /.container-->
	</header>
	<div class="container tab-content">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="formHeading" style="margin-left : -110px">Your recent transactions </h3>
				<table class="display" id="table_id" cellspacing="0" width="100%">
					<thead>
						<tr>
							
							<th>Amount</th>
							<th>Transaction Type</th>
							<th>Date</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div><br><br><br>
    <center>
		<h4 ><a style="color: black" href="http://localhost:1010/download?file=output/Transactions.xlsx.gz">Click here to download your transactions</a></h4>
	</center>
	
	<footer class="footer-distributed">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="footer-left">
						<h3>Express Wallet
							<span>&copy; 2017</span>
						</h3>
						<p class="footer-company-name">A Venture By : ETA | Express</p>
					</div>
					<div class="footer-center">
						<h3 class="footer-company-contact">Contact Us</h3>
						<div>
							<i class="fa fa-phone"></i>
							<p>+91 9804567890</p>
						</div>
						<div>
							<i class="fa fa-envelope"></i>
							<p>
								<a>support@expresswallet.com</a>
							</p>
						</div>
					</div>
					<div class="footer-right">
						<h3 class="footer-company-contact">About Us</h3>
						<p class="footer-company-about">We bring to you , your own secured , digital wallet. Add money, send Money to other wallet users and also pay for movies,
							gift vouchers and recharges.</p>
						<div class="footer-icons">
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="#">
								<i class="fa fa-github"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>