<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/newStyle.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="../stylesheets/businesscasual.css" rel="stylesheet">
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #signup {
            height: 95%;
        }

        .tab-content {
            height: 770px;
        }
    </style>
</head>

<body>
    <header class="header-site">
        <p style="text-align:center;margin-top: 45px;"></p>
        <div class="brand">Express Wallet</div>
        <div class="address-bar">"Your Money,Our responsibility"</div>
        <!-- Navigation-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display-->
                <div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a
                        class="navbar-brand" href="#">Express Wallet</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><img src="../images/Picture4.png" height="15%" width="45%"></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--li.nav.navbar-nav.navbar-left//img(src='images/Picture2_trans1.png', height='100%', width='21%')
-->
                        <li><a href="http://localhost:1010/loginPage">Add Money 	 <i class="fa fa-upload" aria-hidden="true"></i></a></li>
                        <li><a href="http://localhost:1010/loginPage">Send Money <i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
                        <li><a href="http://localhost:1010/loginPage">Book Movie Tickets <i class="fa fa-film" aria-hidden="true"></i></a></li>
                        <li><a href="http://localhost:1010/loginPage">Purchase Gift Vouchers<i class="fa fa-gift" aria-hidden="true" style="font-size:20px;"></i></a></li>
                        <li><a href="http://localhost:1010/loginPage">Recharge Mobile <i class="fa fa-mobile" aria-hidden="true" style="font-size:21px;"></i></a></li>
                        <li class="nav navbar-nav navbar-right"><a href="http://localhost:1010/loginPage"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse-->
        </nav>
        <!-- /.container-fluid-->
    </header>
    <!-- /.navbar-collapse-->
    <!-- /.container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center tab-content">
                <h3 class="formHeading">Register </h3>
                <form id="signup" action="http://localhost:1010/save" method="post">
                    <p class="form-group"><label for="username"> Username  </label><input class="form-control" type="email" name="name" placeholder="Email : abc@xyz.com" required=""></p>
                    <p class="form-group"><label for="pass"> Password  </label><input class="form-control" type="password" name="pass" placeholder="Password : Hover here see the validation" title="Password should have minimum length as 6 and also must contain atleast 1 UpperCase,1LowerCase , 1 Number and 1 Special Character."
                            pattern="(?=.*\d)(?=.*\W)(?=.*[a-z])(?=.*[A-Z]).{6,}" required=""></p>
                    <p class="form-group"><label for="firstname">  First Name </label><input class="form-control" type="text" name="firstname" placeholder="First Name" pattern="[A-Za-z]{3,}" required=""></p>
                    <p class="form-group"><label for="lastname"> Last Name </label><input class="form-control" type="text" name="lastname" placeholder="Last Name" pattern="[A-Za-z]{3,}" required=""></p>
                    <p class="form-group"><label for="phoneNumber"> Contact Number </label><input class="form-control" type="tel" name="phoneNumber" pattern="[0-9]{10}" placeholder="Mobile Number" required=""></p>
                    <p class="form-group"><label for="DOB"> Date of Birth</label><input class="form-control" type="date" name="DOB" max="2010-05-31" required=""></p>
                    <p class="form-group"><label for="address">  Address</label><textarea class="form-control" name="address" rows="4" cols="5" placeholder="Enter Your Address here" required=""></textarea></p><button class="btn btn-primary pull-left" type="submit">Register</button></form>
            </div>
        </div>
    </div>
    <footer class="footer-distributed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-left">
                        <h3>Express Wallet <span>&copy; 2017</span></h3>
                        <p class="footer-company-name">A Venture By : ETA | Express</p>
                    </div>
                    <div class="footer-center">
                        <h3 class="footer-company-contact">Contact Us</h3>
                        <div><i class="fa fa-phone"></i>
                            <p>+91 9804567890</p>
                        </div>
                        <div><i class="fa fa-envelope"></i>
                            <p><a>support@expresswallet.com</a></p>
                        </div>
                    </div>
                    <div class="footer-right">
                        <h3 class="footer-company-contact">About Us</h3>
                        <p class="footer-company-about">We bring to you , your own secured , digital wallet. Add money, send Money to other wallet users and also pay for movies, gift vouchers and recharges.</p>
                        <div class="footer-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel-->
    <script>
        $('.carousel').carousel({
            interval: 5000
        })
    </script>
</body>

</html>